*{
    box-sizing: border-box;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
}
.head-wrap{

    background-color: #dddddd;
}
header{
    padding: 20px 10px 15px 10px;
    overflow: hidden;
    width: 960px;
    margin: 0 auto;
}
header ul{
    float: left;
}
header .name{
    padding: 8px;
    margin-right: 50px;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}
header .sing-out{
    float: right;
}
.filt{
    margin-top: 20px;
    padding: 0 30px;
}
.filt h5{
    float: left;
}
.filt .subject{
    margin: 7px 20px;
}
.filt input{
    margin: 5px 10px;
}
#table{
    padding-top:50px;
}
table tr th{
    background-image: url("../img/bg.gif");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.headerSortDown{
    background-image: url("../img/desc.gif");
}
.headerSortUp{
    background-image: url("../img/asc.gif");
}

form.main-form{
    width: 500px;
    margin: 0 auto;
}
#form-login{
    margin: 50px;
}

